In [ ]:
{
  "cells": [
    {
      "cell_type": "markdown",
      "id": "4400bcaa",
      "metadata": {
        "id": "4400bcaa"
      },
      "source": [
        "# DATA PREPROCESSING\n"
      ]
    },
    {
      "cell_type": "markdown",
      "id": "2b7dd17e",
      "metadata": {
        "id": "2b7dd17e"
      },
      "source": [
        "## Importing the libraries"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 1,
      "id": "054819ac",
      "metadata": {
        "id": "054819ac"
      },
      "outputs": [],
      "source": [
        "import pandas as pd\n",
        "import numpy as np\n",
        "import matplotlib.pyplot as plt\n",
        "import tensorflow as tf"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 5,
      "id": "af51aeff",
      "metadata": {
        "id": "af51aeff"
      },
      "outputs": [],
      "source": [
        "data=pd.read_excel(r\"Crude Oil Prices Daily.xlsx\")"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 6,
      "id": "fc44eaa6",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 206
        },
        "id": "fc44eaa6",
        "outputId": "1ccdc2c2-a526-479e-91db-0dcbe4bba0c4"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "        Date  Closing Value\n",
              "0 1986-01-02          25.56\n",
              "1 1986-01-03          26.00\n",
              "2 1986-01-06          26.53\n",
              "3 1986-01-07          25.85\n",
              "4 1986-01-08          25.87"
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-996d2ec3-8eac-4d31-b495-8c7970435e7e\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Date</th>\n",
              "      <th>Closing Value</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>1986-01-02</td>\n",
              "      <td>25.56</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>1986-01-03</td>\n",
              "      <td>26.00</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>1986-01-06</td>\n",
              "      <td>26.53</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>1986-01-07</td>\n",
              "      <td>25.85</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>1986-01-08</td>\n",
              "      <td>25.87</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-996d2ec3-8eac-4d31-b495-8c7970435e7e')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-996d2ec3-8eac-4d31-b495-8c7970435e7e button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-996d2ec3-8eac-4d31-b495-8c7970435e7e');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 6
        }
      ],
      "source": [
        "data.head()"
      ]
    },
    {
      "cell_type": "markdown",
      "id": "69f03019",
      "metadata": {
        "id": "69f03019"
      },
      "source": [
        "## Handling missing values"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 7,
      "id": "1c588816",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "1c588816",
        "outputId": "ff2bc620-1210-4711-cc26-a035031fc571"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Date             False\n",
              "Closing Value     True\n",
              "dtype: bool"
            ]
          },
          "metadata": {},
          "execution_count": 7
        }
      ],
      "source": [
        "data.isnull().any()"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 8,
      "id": "9557ff33",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "9557ff33",
        "outputId": "82464724-8503-4e3f-cdf5-514e4099bad6"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Date             0\n",
              "Closing Value    7\n",
              "dtype: int64"
            ]
          },
          "metadata": {},
          "execution_count": 8
        }
      ],
      "source": [
        "data.isnull().sum()"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 9,
      "id": "24c5f4dc",
      "metadata": {
        "id": "24c5f4dc"
      },
      "outputs": [],
      "source": [
        "data.dropna(axis=0,inplace=True)"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 10,
      "id": "54807a83",
      "metadata": {
        "id": "54807a83"
      },
      "outputs": [],
      "source": [
        "data_oil=data.reset_index()['Closing Value']"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 11,
      "id": "630d074d",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "630d074d",
        "outputId": "1a5672bf-8164-482b-838a-f50629b40f31"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "0       25.56\n",
              "1       26.00\n",
              "2       26.53\n",
              "3       25.85\n",
              "4       25.87\n",
              "        ...  \n",
              "8211    73.89\n",
              "8212    74.19\n",
              "8213    73.05\n",
              "8214    73.78\n",
              "8215    73.93\n",
              "Name: Closing Value, Length: 8216, dtype: float64"
            ]
          },
          "metadata": {},
          "execution_count": 11
        }
      ],
      "source": [
        "data_oil"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 12,
      "id": "99c62b35",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "99c62b35",
        "outputId": "8cd3eba0-dc4f-4a19-8334-dcf63742170b"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Date             False\n",
              "Closing Value    False\n",
              "dtype: bool"
            ]
          },
          "metadata": {},
          "execution_count": 12
        }
      ],
      "source": [
        "data.isnull().any()"
      ]
    },
    {
      "cell_type": "markdown",
      "id": "146d7f78",
      "metadata": {
        "id": "146d7f78"
      },
      "source": [
        "## Feature Scaling "
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 13,
      "id": "f7336cdd",
      "metadata": {
        "id": "f7336cdd"
      },
      "outputs": [],
      "source": [
        "from sklearn.preprocessing import MinMaxScaler\n",
        "scalar=MinMaxScaler(feature_range=(0,1))\n",
        "data_oil=scalar.fit_transform(np.array(data_oil).reshape(-1,1))\n"
      ]
    },
    {
      "cell_type": "markdown",
      "id": "187867e9",
      "metadata": {
        "id": "187867e9"
      },
      "source": [
        "## Data Visualization"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 14,
      "id": "1f9e383c",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 298
        },
        "id": "1f9e383c",
        "outputId": "75543948-6719-4c90-9bd7-f856bc5619d9"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "[<matplotlib.lines.Line2D at 0x7fd9791bba10>]"
            ]
          },
          "metadata": {},
          "execution_count": 14
        },
        {
          "output_type": "display_data",
          "data": {
            "text/plain": [
              "<Figure size 432x288 with 1 Axes>"
            ],
            "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXQAAAEICAYAAABPgw/pAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADh0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uMy4yLjIsIGh0dHA6Ly9tYXRwbG90bGliLm9yZy+WH4yJAAAgAElEQVR4nO2dd3gU5fbHvyebRgmhJLRQQu/SQhGQIog0BTtYUX9i12u9WLBdVOzYrqJelcu1dxQUBRTpELqAQIAAoSaUhATS398fM7M7Mzu7O9nsbJk9n+fxceadd2feWTbfOXPe855DQggwDMMwkU9MqAfAMAzDBAYWdIZhGJvAgs4wDGMTWNAZhmFsAgs6wzCMTWBBZxiGsQks6IytIKKPiWi6Bef9mYhukLcnE9GyAJ77USL6IFDnY6KX2FAPgIkuiOhqAPcD6AjgNICNAJ4VQgRMIK1ACDHawnM/Z9W5meiCLXQmaBDR/QBmAngOQCMALQD8G8B4D/1tb3BEwz0ywYMFnQkKRJQM4BkAdwohvhVCFAkhyoQQPwohHpL7PEVEXxPR/4ioAMBkvQuFiIYSUY5qvycRrSei00T0BYBE3XXHEdFGIjpFRCuI6BwvYxxARGuJKF/+/wDVsT+I6P9M3Gc6EQkimkJEh4joMBE9qDpudI9PEdH/VH0GyWM9RUQHiGiy3J5ARC8T0X4iOkpE7xJRDV9jYqIHFnQmWJwLSWy/89FvPICvAdQF8Im3jkQUD+B7AHMA1AfwFYDLVMd7AvgQwK0AGgCYBWAuESUYnKs+gHkA3pD7vgpgHhE1MHFvRgwD0A7ASAD/JKIRqmMe75GIWgL4GcCbAFIB9IDklgKAGQDay21tAaQBeMLP8TE2hAWdCRYNAOQJIcp99FsphPheCFEphDjro29/AHEAZsrW/tcA1qqOTwEwSwixWghRIYSYDaBE/pyesQB2CSHmCCHKhRCfAfgbwEVmbs6Ap+W3kC0APgIwyeQ9Xg1goRDiM/mejgshNhIRyfdznxDihBDiNCTX1UQ/x8fYEPbfMcHiOIAUIor1IeoHqnDOpgAOCm2GuX2q7ZYAbiCiu1Vt8fLnjM61T9e2D5IV7A/q+9gHoJuHY3qaA9ht0J4KoCaAdZK2AwAIgMPP8TE2hC10JlishGQdT/DRT5/+swiSkCk0Vm0fBpBGKoWDNNGqcABSBE1d1X81ZetbzyFIDwA1LQAc9DFeTzTXneeQat9bitMDANoYtOcBOAugi+pekoUQtf0cH2NDWNCZoCCEyIfk732biCYQUU0iiiOi0UT0opePbgQwhojqE1FjAP9QHVsJoBzAPfK5LgXQV3X8fQC3EVE/kqhFRGOJKMngOvMBtCeiq4koloiuAtAZwE9+3vI0+R67ALgRwBcmP/cJgBFEdKU8jgZE1EMIUSnfz2tE1BAAiCiNiC70c3yMDWFBZ4KGEOIVSDHojwPIhWSN3gVpYtMTcwBsApAN4FeohFEIUQrgUgCTAZwAcBWAb1XHMwHcAuAtACcBZMl9jcZ2HMA4AA9Acg89DGCcECKvirepsES+3iIALwshfjXzISHEfgBj5HGcgPRA6y4f/qd8zlVyhMxCAB38HB9jQ4gLXDBM4CCidAB7AcSZmABmmIDCFjrDMIxNYEFnGIaxCexyYRiGsQlsoTMMw9iEkC0sSklJEenp6aG6PMMwTESybt26PCFEqtGxkAl6eno6MjMzQ3V5hmGYiISI9CuanbDLhWEYxiawoDMMw9gEFnSGYRibwILOMAxjE1jQGYZhbIJPQSeiD4noGBH95eE4EdEbRJRFRJuJqFfgh8kwDMP4woyF/jGAUV6Oj4ZUaqsdpIoq71R/WAzDMExV8SnoQog/IaXx9MR4AP8VEqsA1CWiJoEaIMMw1vDB0j3IOXkm1MNgAkggfOhp0JbUyoGHsl1yJfRMIsrMzc0NwKUZhvGHPbmFmD5vOwa98Huoh8IEkKBOigoh3hNCZAghMlJTDVeuMgwTBM6UVoR6CIwFBELQD0JbP7EZ/K/DyDBMEKjkLKu2JBCCPhfA9XK0S38A+UKIwwE4L8MwFlFRyYJuR3wm5yKizwAMBZBCRDkAngQQBwBCiHchFdcdA6nW4RlIBXEZhglj2EK3Jz4FXQgxycdxAeDOgI2IYRjLqagM9QgYK+CVogwThbDLxZ6woDNMFMKCbk9Y0BkmCqlgH7otYUFnmChkRVZeqIfAWAALOsNEIbP+3BPqITAWwILOMAxjE1jQGYZhbAILOsMwjE1gQWcYhrEJLOgMwzA2gQWdYRjGJrCgM0yUIVSLilqn1ArhSJhAw4LOMFHGgq1HnduOGArhSJhAw4LOMFHG6eIy5/bZMq5cZCdY0BkmyohzuP7sc06eDeFImEDDgs4wUQaxl8W2sKAzDMPYBBZ0hokyiE1028KCzjBRBsu5fWFBZ5goI0ZloafVrRHCkTCBhgWdYaIMtcfl4CmOcrETLOgME+UcKygO9RCYAMGCzjBRxrTv/9Ls558t89CTiTRY0BkmyjheVKrZ54LR9oEFnWGinIpKFnS7wILOMFEOG+j2gQWdYaKMW85rpdnfm1eE0vLKEI2GCSQs6AwTZeg9LHd/tgGPfLslNINhAgoLOsNEGYrPvGeLus62ZVm5oRoOE0BY0BkmyqgUAnVrxuGuYW2dbcQJAWwBCzrDRBkVlQIOIq5WZENMCToRjSKiHUSURURTDY63IKLfiWgDEW0mojGBHyrDMIHgk9X7cbyoFBsPnAr1UJgA41PQicgB4G0AowF0BjCJiDrruj0O4EshRE8AEwH8O9ADZRgmsOw6VhjqITABxoyF3hdAlhBijxCiFMDnAMbr+ggAdeTtZACHAjdEhmGsYECbBs5tTpFuD8wIehqAA6r9HLlNzVMAriWiHADzAdxtdCIimkJEmUSUmZvLs+oME2yEahVRn/T6IRwJYwWBmhSdBOBjIUQzAGMAzCEit3MLId4TQmQIITJSU1MDdGmGYcyiXuavnhNlA90emBH0gwCaq/abyW1qbgbwJQAIIVYCSASQEogBMgwTOMo1gs4ybjfMCPpaAO2IqBURxUOa9Jyr67MfwHAAIKJOkASdfSoME2aUVriW+J/itLm2w6egCyHKAdwFYAGA7ZCiWbYS0TNEdLHc7QEAtxDRJgCfAZgsBKf8YZhwo0yVs0Vtn3PhaHsQa6aTEGI+pMlOddsTqu1tAAYGdmgMwwQatcslzsHrCu0G/4syTBShzqoYLKP8k9X7MGfVvuBcLMoxZaEzDGMPylQ+9CbJNYJyzce+k0reXde/ZVCuF82whc4wUYTicmmYlID6teKRUjvB0ust2cmxEcGEBZ1hogjF5TJ9QlcAQJ/0egCAg6fOWnK9FVl5lpyXMYYFnWGiiG/W5wAAducWAYjsWPQfNh7EN+tyQj2MsIJ96AwTRXy0PBsAsP+ELOgRnEL33s83AgAu690sxCMJH9hCZ5gooVIVsnhNP2mC0mo997UYpbisAuc8tQC/bTtq7UCiBBZ0hokS1KtEayVIL+cOi10uu46e9no85+QZFBSX45b/ZlbpvLxu0RgWdIaJEtQhi7GyaW71CtHfd5iPcqnQV6/2gBACrR6Z77XPhv0nMe7NpZq4+2iABZ1hogS1uCm+8zhHqH3orusfPGku0qbchPBf8u8V+OtgAXb6eEOwGyzoDBMllBpY6FZPirZsUNN03w+X7zXVr7C4XLOvfvPQs/jvY6avbwdY0BkmSlBb6EqB6IRYayXAdyFql7X98Yps7D9+xuc5H/hqk2a/uKzCY999Js5nJ1jQGSZKUAu6YqHHWmihH8kvxh453t0TevfJkYJin+fVf+asLOhbD+Ujfeo8bD9c4Dz2zfocnCnVWvR2hgWdYaIEtcuFYP2k6N9HXMLavL5x3pjyCq04m/Hpp9VN1OyfKZEE/ectRwAAo19fqjkeTROjLOgMEyVookhk3bQyyEX9sPAUZaiPbDGT0ndQW235SsUFU1Ju7HopYUFnGMZuqLUzuUYcAGvj0NVnLi6r1CxsAoA1e09g/NvLNW2VJuLLyyu1Ar1u30kAwPtLjSdVzYZD2gEWdIaJEjKzT7i1WWuhu7bzCkvw0Nebnfuv/bYTV85a6fYZMyGJZRVVE2gWdIZhbMcnq/e7tVmZnIugPbeSGAwAXl+0y/AzZsRXCVP8fEp/U+Mw85CwCyzoDBMl7M1zjzixclLUn1ObEfRyWdDbpNbWtF/YpZHf57QLLOgME8WEep2owjnNkgGYtdClPnEOwohODdGlaR1UVgqnL10PCzrDMLZi3ubDzu2MlvWc21a6XIxcHZ+sNq4teuvgNh4/o0dxucQ5YpAQ60BJeSVaPzofeYWlmn63DVHOyVEuDMPYhKtmrcSdn6537r99TS/ntokoQb/RR7UArvqiemonStkfK2Tx/WHjQaw1mMQFXKIf6yCAgKxjhW597jm/rfPBxRY6wzC2YfVerTA2quNamGOlD70qk5G1ExzSZ2R3yr2fb8QV70pRMJWVAodUJfJeWrADABAXE6N581Bz/8gOcMiLlIpKPKcGsBss6AwTxVgZtljhwdVhZLnXjFcsdPdj/1m2FwNmLMaSnbmGGSP1fHRjHwBAtjwJPOn9VVUbeATDJegYJorQZz/UhxYGEk/x4hUGi4fOlEpW9JKdueialqw59ucuKaf6DR+uwfCODX1ed1gHqc/JM2VVGq8dYAudYWyMfjGRfmWoldlzPS25N7LCa8ZLLpcTRaU478XfNccOqtwti3TpcOskerZJbx7UyvRY7QILOsPYGH22Q306WyujXBSXy6IHhmja9cv7Z17VA02TpeRd/Vo3cDuPt4yNr13VQ7M/bVxn57aS3gCQ0gxEAyzoDGNj9OKpF3QrfeiKIV4rPhYdGiU52ysqhWZ/Qs80xMt52auaGVHvR2/fqLZhP6M0A3aEBZ1hbMyJM9rYbL1FbqWFrjxMYgjYoSoFV1EpNPsAnIJeUl6BNqm1TF9DX71Icd1EKyzoDGNjXvxlh2Z/m6r4A2CtD12x0PWhkUZFLBwxhDgHobS8ErtlF8t57VJ8XkNffk6JlolWTAk6EY0ioh1ElEVEUz30uZKIthHRViL6NLDDZBjGCqyMQ1fCE/UPDXVc+EyVDzzeEYPc0yXO/Q37T+F0sXGkSqM6CQCAAW20os8Wug+IyAHgbQCjAXQGMImIOuv6tAPwCICBQoguAP5hwVgZhgkwVlnoxWUVyDkp1fN0xBAu7ZnmPKZ+hkxQtSfEOfDVOldGxsKScry8QPuGoTCxTwsAQONkbfUivYWe5CUKxo6YsdD7AsgSQuwRQpQC+BzAeF2fWwC8LYQ4CQBCiOgqtc0wEYpVFnrHab84C04QERqqVqcqE5+T+jbXfCbeIA/B7JXGuV8GqdwxD13Ywbmtt9AvUT0wogEzgp4G4IBqP0duU9MeQHsiWk5Eq4holNGJiGgKEWUSUWZubq5/I2YYJmBc2kv6U26YlGDZNWIIEHBF2yiC3rdVfU0/MwWiFfqkuz5757C2eOWK7ujQKMlN0B8b2wmAtdE84USgJkVjAbQDMBTAJADvE1FdfSchxHtCiAwhREZqaqr+MMMwQaZmfCxGdm6E+rXiLbtGDBEuOqepc//6D9cAABwx/snP5AHpbm2X9W6GBfcNdnvjSIiVBN5EZTtbYOYbPQhA/W7UTG5TkwNgrhCiTAixF8BOSALPMEwIqVczzmefGCJTtTzNok6kBUg+9K5pyXh9onYRUGwVHPhD2rsMwCEd2Bj0hBlBXwugHRG1IqJ4ABMBzNX1+R6SdQ4iSoHkgtkTwHEyDOMHZvKZxMRoC0hXl6ve0y7iUYxm/aIm/b43WtSviYFtpVWkVS1sPaxDKhJioyNC2+ddCiHKAdwFYAGA7QC+FEJsJaJniOhiudsCAMeJaBuA3wE8JIQ4btWgGYYJHBRgC/3ACa2Frixe0gvxgRNnNPveJjBTkxJwVk7gVdXQxNSkBEtdSuGEqZgeIcR8APN1bU+otgWA++X/GIaJIGKIgADpeV5hiVubIuh6//ZO3WpRb4b39ee2xIKtRwC4/OJmccTEeMz8aDei4z2EYaIcxfod1aWx27EYcs/5Yoa/Dubjr4P5mrZTBi4eT54VNxeMStHvGa6dgktKjHO6hao6lxrnII+52e0GCzrDRAGvXdUDe58fg3eu7eV2TJoUrfo5x725DOPeXIavMl1RzUb1Oz3FuustbXVemfsvaK855oghPHtJV2S0rIe2DY0TcHnCEUPOSkh2hwWdYWxM17Q6zslEIjIUV/LTQld45dedzu2qZEu8aaA2X3mZDyu6V4t6+Pr2AVV2ucQ5Ynye2y6woDOMjamoBGrEeZ8qiyEKWJy2p6IWRiTEaeXn2/X6aOjA4IihqCkUzYLOMDYlr7AE2w8XIM7hPczPXx+6gnqFZ3GZ+YLMvoIPHx3TEQDw978MF56bJi6GUFYhIKJgdRELOsPYlLs+XQ8AOJzvfUl9VRcWLf77qCYropobP1rr8XN6b09Kbe/pBqYMboPsGWORGFe9DIolcordolLzD5tIJbpSkTFMFLFqj1R2beOBU177URUmRcsrKnHTx5lu7WuzT+BwfjHKVSea1LcFVu3xvBxFX23IKmYtkdY4zl6RjTuHtQ3KNUMFCzrDRDkxBNPuiHID5a+dEIsr3nUv8fb8pd2qNI6f7h6EcW8uq9JnqsJLC3bYXtDZ5cIwUc6+42eQV1jqs9+6fSdxUJenBQAuNIht9wd9bvNAoUT5RANsoTNMlLMsKw+AVOvTW36Vy95ZYdiuVA+qLlbVNx3dtQmWZ0VHJhK20BmGAeB/pIuR/31MN3er3ZdcW+VSv6i7lLp3Qo+mPnpGPizoDGNT9BWBfOGvoBv53/99TW+3Nl/RKlZVT0quEYfaCbE+o2rsAAs6w9iQ44UlyDkp+buNCkIY4W0xpaeFOTXjHW6RLC9edo5h3/PapeCJcZ0NjwHWWeiAVJ/0g2V7rbtAmMCCzjA2pPf0hVi6Kw8dGyfhqYu7mPqMNwu9rMJY7R1E2JSjTdBV10NRDSLCTYNaGR6LJqqSHqGqsKAzTARRVlGJj5fvxeYc77HlClVZlOPN4WIUrtilaR2cLil3a4/zs5hEUqL0IBhvY1/3V5kH0P7xn7H/+Bnfnf2Ao1wYJoJ47Lst+DIzBwCQPWOsz/41TAj6P0a0w8yFu7xb6AZWpSerPc7PWqGAuXuqDqXllYgPYfWi+VsOAwCyck+jRYOaAT8/W+gME0H8vOWIzz7qV/rEON9/4opl7G1O1Chboaesh75yx4QSfVGNYGN1NhkWdIaJIIxcHHrUVYNqmCjXpsivt9WiRhV/PFm6/rpcgkEgS+2FI+xyYZgIYMnOXNzw4RpTfdURKYkmcocr0YLetK7cwL0S7zAW7lgf4SqZj48IWcEJqxYvmUX5jq26//B9lDIM4+ShrzaZ7ltS7soqmGjCQv9irVRxKHPfScPj2XlFmLlwl1u7JwudfCwhSqmdYNkyf194WwkbDJbszAUATJmzzpLzs6AzTARwzEO6WiMKS1yCfsgg94qev49IfuWsY4WadiEEjhYU47oPV+O7De7FJzyF3wnLPcVV551rpNJ74VKKztdbjL+woDNMhOIpyuS79TnO7aMF5h8EeiGes2of+j23CAdOGD8UPFnZ7Rommb5msFDCN41qngaLguIytEqpBQD49o4BllyDBZ1hIpS12ScM2zs1qePcrmEiykVB70Nfudt7QqvkGsYLiMxMxAabWDnyxiiePlg88OUm7M0rAmBdZkkWdIaJUDxNSp5VlYGrWzPe7/Nv2O998VJqkis3SkbLegCAUQFKpRtoYuXY+FC6XH7bdtS5bdXkLAs6w4QRlZUCZ02WSjtRZJzDvLDYFdpYFWt59ops7Xm8hEj+a0JXTBnc2rk/67re+PSWfpg5sYfp6wUTl4UeOpeLGqumZlnQGSaMeOanbej0xC+mqtTPXplt2F5Y6hJihwlLUMlnrp94vSKjmcfPXNe/JeJUbwhEhAFtUqpd/9MqlEnIUFroahcVW+gMEwV8vU6a0Mw/W+az72W9jAVXqaEJAOe28V2tZ8alxtkRd+cWubVd2isNTQz8v+G7NlTC6XIJoQ9d/W8aa9FqWl5YxDBhhBInrUSwjHxtiVs+lpsGtsKHy/f6tOKX/XMY0urW8HnNpERjGfhTjplWM31CV9SMd+8f4vU6PnG6XDxEBlmNvnRfnIf5j+rCFjrDhBGKoBfLE5s7jxZq0tPef0F73DZE8l2X+EjD2qxeTVNFI2KqEBPtaeVpCA1fU8SFOMrlwAltdkUWdIaJApSJziEv/WF4/J7h7ZyrP4vL3CdPlVWinkIKjaiKP1cv/vVqKom9wlvRHU6XS2gs9Hf+2K3Zt2rFKrtcGCZMqfRgTSbIS+71Fvobi3bh1d92AjDng1eojrQobwDhLeeuSVGjJGNWcqa0HDMX7sKK3XlBuZ4pC52IRhHRDiLKIqKpXvpdRkSCiDICN0SGiQ70Vq4nl4oSf64/roh5la/r16ckXJkaq3GSIKD40M1EDwWSad9vxXt/7gnag8SnoBORA8DbAEYD6AxgEhG5FQYkoiQA9wJYHehBMkw0oPfv6l0qL14uRaMQERJiY1Bi4HLxB0/uksHtUzX739850K1PuE+GKrgWFgXX5bLtcEFQr2fGQu8LIEsIsUcIUQrgcwDjDfr9C8ALAIoDOD6GiRr0ya42HNBmP2yoWplZUl7pNWHXgyPbm76uJ9tR7/Lp0byuW5/XruqB3i3roX4t/1ekBoNQTYpuNxD0i7pbV2LPjA89DcAB1X4OgH7qDkTUC0BzIcQ8InrI04mIaAqAKQDQokWLqo+WYWyM3oVy08eZmn19utrvNhxE4+RE7DhyGh9O7qM51ie9vunrenKXqCcQPYU/ntcuFee1SzU8Fk44wmBhEQD89fSFqJ1g3dRltc9MRDEAXgUw2VdfIcR7AN4DgIyMjDD3ujFMcPFVDT7WoFanEj2hj3NuVt98vUpPLhe133f6hK6mzxeOKGGCRqX0gjsOa31UZlwuBwE0V+03k9sUkgB0BfAHEWUD6A9gLk+MMkzVUBemqCorsrRRFGYWFCl48kKoffg9W7i7WyIJxUKvCLKFriQtU6hOAW0zmDn7WgDtiKgVEcUDmAhgrnJQCJEvhEgRQqQLIdIBrAJwsRAi0/h0DMMYsXD7Ma/HvdXDfOjrzX5ft3VqLcN2taBbtRAmWDjDFlVPr9V7jmPQC4t9vhlVhyJdorWqLOLyB5//SkKIcgB3AVgAYDuAL4UQW4noGSK62NLRMUwU8a+ftnk9bjbk7rsqFk9IqZ1g2K726XsqNxcpEBFiYwgVssvlr4P5uOq9Vcg5eRYXvbnMsuvuOnrasnMbYcqHLoSYD2C+ru0JD32HVn9YDBO93H9Be8OYcjMRGrec1wo9W9Tz2c8MxWUuQbeqZFowccSQc1L05V93ONt3WCi66n+ziy2MblGI7Mcuw9iEJapEWOPOaWLYp18r35Er/obljejUCJ1VlY4AaOLczeSECXfiHDHOiV4zaYWriz7mfcZl3Sy/Jgs6w4QBt8x2TTnVTozVlJFTMJNr3FO6AF/ExpAmTLGopBynS8rRJDkR39xuTf3LYONQuVwa1nGlAB5gIsWwP7R97Gfn9sjOjQyzVAYaFnSGCTOSEuIMF6SouX1oG8N2fy30WAdpPvvG4l0AgMP5xejdMjAunFAT5yDnpGiP5snO9loWxoUDwIxLu+G964MT9MeCzjAh5FhBMd5avAuT+roigxMNCjvfoRPwwR4W8/ibqyRW5V8GgNYpxpEvkQwRoUSeF1BP+OrzzQeCw/mudQGlQUw3wNkWGSaIVFYK/HUoH+c0k+K6+z63CADQvZnLYtT7q7+5/Vz00k10eqpEdNbP/C6xjhjNw6BpFeLYI4Xc0yX4Zn0OXrmyO574Yauz3YqUut+udy3VUadssBq20BkmiLy4YAcufms5MrNPaNqVYs5X99OmxJg2rjN6t6xvOCl5QedGbm2jujT2a1yxMeSskgQAJOdR9FTmzi60bVjb8kyI+iRnVsKCzjBB5N0l0lL9jQdOadpX7ZEE/ll5if3mp0bixcvOwc2DWnk818tXdEfXNNfk6ZrHhmN0N+MIGV+UVkjJvpRFNhXyIib9A8Zu1Ix3aB5kgUI9gR2MyVAFFnSGCQEdGicZ5lBRLPE6iXG4sk9zt+NqkmvE4ae7z3Pux1djNafiIvhi7X4ArpA7O8SfG1E7IRaxMSSHMvov6D9tPoRjBe4JZpVz3ju8nd/n9gf2oTNMCHAQ4UxpYPKZKwQiVrysQuDUmVI8/aO0atWq6vSh5HD+WRSWlKNRnQQp8sUPl8tLC/7G27+7ysplzxirOa4U2L7JyxuWFbCFzjAhgIhQVFoe0HNWpY6oJ7KPF+GZn7Zhv1zUONJzuKi5pGcaAODc5xcDAI4WlCD/bDnW7D3h7WOGqMUcAO76dL1mv0tTyRUWiH+TqmCffy2GiSCEEDgbYAs9EBwvLEVeYalz36pixqGgZQP3lMJKvH91i1z/tPmwc7usohIb9p8KanSLArtcGCYElFcKfLMuJ9TDcKNSCGzOcU3YWp3uNZh4e9soLqt0Rhp5o6JSuE1ou85RgcQ4B/o9twgnikoN+1iNff61GCaCOFtWAYdOLId1CH3ln0ohNIU07ORD9zZp7C1+/+UFO/BlplS0rdO0X3DZOysM+53z9K8AXIWzQwELOsOEgGd+3IYWDbSLd8LFX60ehp0E3aha0IuXSYW3vQn6W79n4WE537y3VZ+l5ZU4VlAc9LqlasLjF8QwUYDaT3vw1FkcK9AWefZXBl6f2MMpTNWlTqJ2Eq9WEGOorSbOIKd7ouxmOVNSjrmbDrllSFSTnVfk1jZU91bV97lFyD9bVs2R+o99/rUYJszJLdQK+PM//63Z93debnyPNH+H5EZGej38ucuVytfqxFXBRP8G1LNFXdSUFwBd8NqfAIBDozvitiGuvDl7VSI+e2W25vOT+jbH5px8j9frkx78pGZsoTNMEDhTWo6+zy4yPDZEXhpe3TyaT88AABrUSURBVEiL6jCobQoA4J/fbAnZhJ7V/P63tsRfXEwMCoq11nTuae1Dd8cRV/GLj5Zna44NapuKrYc8Z8X84Po+fo7Uf1jQGSYI5J32LJLX9W8JwHvNUKt5ZExH53bj5EQvPSOXw/naFZ2xDkJRiXYtwH+W7dXs3/P5Bo/nO3HG+4MvuWZwY9ABFnSGCTlKrHfo5ByayJYDJ8566Rm53DO8rWb/wQs7oF2jJK+fudBLsrNjBcWaXDrhAAs6wwSBv494fjXvnV4PPVvUDXreDzU2Wj/kEX2YaNuGtdG/tfdqRUaRMQoxRPj29oG4vLd7Rsrm9UOTftg+Mx4ME8aofbF66iTG4bs7BgZxNO7YoWaoL+okauXO16Kp08VlmrzmemKIEB8bgwSD6Jl+rawpa+cLttAZJgioa4RO6GF99feqYrTE/6Mbgz+pZyU9dUVCPFnfyuR0cZn3LIwNascDAG4cmK5pf3hUB0yX0yAHGxZ0hgkCv2474tyOVYXPrXlseCiGY4phHRqGegiW4ilPjbJ4yFclo6v7Srni2zZMwuanRjrbr+nX0lRBbytgQWeYIPBlpitvizrHeMOk8IgoCWWETTBRF7z25GZS6o0eOuWaHE6p7Z5oK0b176iuS6p37QQTFnSGCTLdm9cN9RDciBI9x6e39MPwjt7fPH7dehQAMHvFPmebkZ9cjfohHcr5CJ4UZRgLKauoxLCX/9C0Hcl3r3ATeqJD0RNiHZh1XW/DnCxDO6Tijx25ePCrTZrIlSt6N8NXqsyYSx4a6lZWThHxUKTMVcOCzjAWcuWslcg56Xp1f2xMJ3y2Zn8IR2RMCPNJBZ1YR4xmHkNBn7dm7qZDAKSqQ4qgd02rg5YNahme95vbB6BFffec68GEXS5BYOuhfLR6ZJ7GJ8dEBxv2a3Nn3zK4NS7tFbjcK4EiGuLQfTFvi6tIhbpOqHp+4Z+jOsITvVvWQ2qILXQW9CDwv1X7IATw+45jvjsztuei7lLY4ouXByZDYiBok1o71EMIGSly+OHF3V3hpGqXjBBA4zrS5HWwS8pVFRb0IPDZGik5vl0rqDNVo2WDWsieMRZXZjQP9VCc6Cfy7FR6zhfKvT86ppOzTT1JXDPe4bS8w33y2JSgE9EoItpBRFlENNXg+P1EtI2INhPRIiJqGfihRj6xNirnxVQdJatiJFAjRHHUocBBSi4dgW5pyeiaVgdlKgu9dWptTJ/QFX1b1UeHxt5zv4QanwpDRA4AbwMYDaAzgElE1FnXbQOADCHEOQC+BvBioAdqB6LJ6rEzu3MLsXL3ca99hBB4+setmra7z2/roTcTShLjJBmsFEBSYiz+OliAWUv2aPp0b14XX956bsgWDJnFjMnYF0CWEGKPEKIUwOcAxqs7CCF+F0KckXdXAXDPVsOwoAcRIQS2eclVXR2Gv7IEk95f5TX8cMfR0275s8NdDNSEenIvmHx0Y1/cOawNmiYnYoX8oP5CriEaaZgR9DQA6rvLkds8cTOAn40OENEUIsokoszc3FyjLraGfejB43+r9mHMG0uxIivPsmsczvcctTRq5lK3tkh6oE8b18l3J5vQKqUWHrqwoy0SlAXUqUtE1wLIAPCS0XEhxHtCiAwhREZqauT4EwNFTAT9QUc6Gw9IpcGu/mA17vxkfcDOW1LuKibcoJaxFfuHh2imcJ9QU6NfOMNEBmYE/SAA9XR8M7lNAxGNAPAYgIuFECX64wxw65x1oR5C1KCu36mOL64u6vJsZR6SN03+aK1mf2BbKZVqJFnokTNSRo2Zx/BaAO2IqBUkIZ8I4Gp1ByLqCWAWgFFCCA62ZkLGlpx8/LkrF3/utMald9enrpJkZ0oqvPR08dakXpj/1+Gwj5BQYwf3gz+kJiVo6ooufmBICEdTdXxa6EKIcgB3AVgAYDuAL4UQW4noGSK6WO72EoDaAL4ioo1ENNeyETOMjtLySizYKqWnveitZXhpwQ63PoEqwLxu30nnticLXU+9WvG4pl9kRfJGqZ7jwxtcOeCbJieidYQtuDLlKBNCzAcwX9f2hGp7RIDHZVuOFRSjYZ3wSJlqF1745W/8Z9lefDGlv8c+5ZXCazkxf9hx5DR66YomfLs+R7M/5+a+Ab1mMOjStA66Nk0O9TBCQrdmrvsuj8AEN7zSJchMfH9VqIdgO7KOFQIAzpR6doGUGWTXqyob9p/U7D/y7RYAQFFJuTOE8f4vN2n6nNcu8ib/591zHmrER06IpVUUFJeFeghVhqeyLaa0XCske3KLMPmjNfj4xsiz3MIVZaLyaIHnuPDOTyzAN7efi94t6/t9nbcWZ7m1DXh+EQ7JYj5eV1ru1sGt/b4WE3p8laALR9hCt5jzX/nDre2PHdEXg28lWw5KIYrvLNnttd9l76ys1nWM3gAOqRYX/bDxkHN7Yp/mmDrac2Y+hrECFnSLUefCZgKPEMKZAW9U18YBP39xWQX6PrsQ6VPnoVWqcR5sI569pFvURoowoYMFnYloXv1tJ/LPSr5Off4NIyorBZ7/ebszN31xWYXXCJg7PlmPY3IY24ETUnaLKzN8Z7aIpJhzBV7JHPmwoFtIcZm5OGXGf9408Gsr/Pcm93mKzQfzMWvJHgyYsRjHCorRcdovbjlXAODHTYdw7HQxFv/tWlaxdFceiIARnRp5HZOS7CnSWPXocPzx4NBQD4OpBpH5y4sQikrKQz2EqGZQ2xT0aqEtyDzh7eXO7Y0HpGpCP2w6pOlTUFyGuz/bgBs+1K74BICacQ7E+HClfHB9H6/Hw5WU2glITzHvVrI74V7MwggWdAuJvCjWyOLuzzZ4PR4TQ7jCSxGJKXIqhkJdeNpceXJz+2H3bI1EBH1a+6UPD3Nud25SB31b+R9Jw4QPSYmRFwTIgm4hatdspC0hjgR+1FnWgPsKx0l9W/g8z6kzLkFft+8kHv/+L499C0vKQbpMJ83r13SWKJs5sQfiY/nPigkNEffLO1pQjFd+3YHKCFjFpZ5si4ZqRWUVlRg4YzE+WOp7crK6lHtYKCQEsHzq+fjp7kGmz3WhKjqm4KzvxSS90+u5tV3dT3pwNIyiPOJM+BFxKnPTx2vx5uIsZ+6OcEb9yKmVYO+Vdz9uOoRuTy3AwVNnMX3edsuvV+RlVWha3RrommZ+6XqjJFcqBqPVgSM6NXRuZ7SshzqJcXj/+gxNn1uHtMbSh4ehbs1409dlwpNH5PUD/Vs3CPFIqk7ECboy0Xg6AiYcK1RvEQ1q28dyW56Vh09X73fu78ktxN2fbdCsrNOvkA0klZUCxwurlqE5uUYcRnUxjlOvUCXZ+tKgUs0HqoRNY7o1AQAc0a1KTYh1oHn9mlUaExOe3DqkDRbePxjPXtI11EOpMhEn6E9e3AWAVIk72KzZewJj31hqGI4ohMAbi3Yh5+QZZ5si6C9efg4A4LWruns9f0WlCPtQx+OFJbjmg9V49LstTpfS+a8scev3xqJdlo2h9aPzDa8JGIcMZs8Yi01PjsS71/XG85d2w7vX9tYcL1M9eAt1KXFfn9gDADDvnkFoVCcB1/SXXCuX92qGy3o1w8YnLqjWvTDhSduGSUiIjby36ogT9E6N6wAACs4G30J/4oe/sPVQAfbkFrkdm70iG6/+thP/NzvT2aYIurJg45Ke3hekXP/hanSc9guOeclJEmre+t0V97167wlT/aykfq14PHdJN3SUc41/PuVcr/0n9W2BUV0b4+d7z8Obk3rCEUM4qFrNe6JIa/l3aiL93ro0TcbqR0c4/8hrxDvwypXd2cXChBURJ+hKKFFhSfAzoSnxx5UGKwuf+nEbAODvI6edbRVyP6NVg0arE5dnSQVqX/1tp6a9slJgzqp9OOvFbxws1GNYkZXn0fVxWS/3h9ex08Waij+B4L839cXV/VrgnWt7474R7dG9mTnfeacmdXBR96aoqBSYu+mQ8yGaIrvGGtVJwLJ/DkP7RpFTlIJhIk7QlZCwqvpoKyoF7v9yI9bt82xV+sJsXI0SgaFE4hgtRPlg6V7n9srdx9HrX7859z9fq/Xjtn50PqZ9/xce/HoTZq/IxkNfbXIudw82v6gmo99YnIXe0xdqjl/SU6of/s36HAghNOPs++wizX0Ggnq1JAu5VUot3Duind/5U5Rq76fOlOHc1g2w8P4haFaPfeJMZBFxgh4bQyCquqBvPHAK364/WK2Me0pO7Tkr92na9ZbzLjk/tzcL/dn525E+dR6emrsVk95fZcpynbf5MJ6cuxVfrcvB20FyaehRx2yr6ZNeD89d0g0vyfMFANDqkfno/vSv2H/8jOFn/GHmQu3bS+MAFQv5xxcbkZ1XhL15RWjbsDaSEiNvlSDDRJygExGEAPafqJpInDrjEkx/y5EphRS+yDyAJ3+QFp/sOnoam3JOafqNfn0pAKC8QutDN+LjFdmG7Yp1v3DbUcPjSjTGit1SxInZeyqvqPQ7JYG3a3Rpmoyr+7VArMP9J/XAVxuRdczlikqfOs+v6wPAzIXaydZAJsEa+vIfAIDlu/MCdk6GCSYRJ+gK3290XyXojZtVk5W/bjuqCbszgz76ZPbKfXj6x6244LU/MfE9qQpRu4au+oOFJeXIk/3LZlcO/nT3IOfkXv7ZMhzOP4v/+2+mYd9TZ8rw9u9ZuPp9KeKk1SPz8Y/PvS+FB4An5m5FlycXIH3qPEOB7vD4z0ifOs+tws/Z0grnfRrhLff32uyTGPHqnz7H5os1uknYO4a2qf45Hxvu1mY06c0wkUDECnpVuO4/qzX7t85Zh0e/2+JMoWqG+7/c6Namz9L3gsrdMPjF33HHJ+sBANl5vgUie8ZYdE1Ldmby6/mv33Du84udx+8b0R7ZM8Yie8ZYZ5u+GPL3Gw/5jJBRP8gKirWWekl5BUpkV9ZVs1Zi9opsdHtyAYQQeGnBDo9RLX1b1UdinCvE64XLunkdA+DfW9KUOa6H25rHhuOBkR2qfA49DZPcXTajLcirzjDBwLaCPvaNpRj+yh9InzoPS3dJr9AjO2vTng6Ysdjoo26Mmvkn5m/xvTK1ezNXZr8TRaXOCjd9VMma1jyqtQjPaZaMyQPSnftxBi6LG85tiXuGt3Xu75w+2uMYXlu4E6v2HMevW4+gpFz7VqH39R/JL8acVfuw//gZvLFoFzo8/ovz2Pr9p/Dk3K04XVKOZVl5+HD5Xs1nv79zIADgfzf3w/9u7qc5dlUf3/lTjhaYXxhUUSnwwdI9TjfUtHGd0TAp0bKc4/++ppcl52UYq4m8dGIAzm3dAEdPe7ZEhRDYekibKa97s2S8c21vtHl0vqZ9T24h0hvUQmu5XW0BK6hDEX+6exB25xbi3s9dFvsfDw5FYUk5HDGEr287F5e/q5147aKqoN5QNYm34B+D0aGxNizutqGt8Zpu4u/p8doVa3oXzpanRuKbdTl46sdt+GzNAXy2xhUlo76fe3UumQtnmnODXPefNZr9Ie1T0aN5XcPvSuG3+wbj5V93YMFWaQ4gNoYwulsTOEh6k+j//CKvn1ezPCtPk07gpoHppj7nL1xpiIlUItJCP5R/Fntyizy+th80cKV8d8dAOGLIzW1x/itL8MlqV9TKc/O1eUj0YY5d05Ixvkeac3/51PORnlLLmTtEL9CtveSX1vcF4LY67eLuTd36AMDKR853biclxmHywFYerwNIUUG/ephg1fPwKO+ujEl9PaekVWjXKAmzrsvA4geGYOrojsh6bgzenNQTT17Uxdnn/2a75xs34l8/bdPsB1pwmya7HrKD2qYE9NwME0wiUtD3yWFwZRUC6VPn4TY5r7WCPgJm05MjEaN7PVdcBgAw7Yetzu33/tRmClSHOTZR/eFPn9AVkwekI61uDU3/2gnal549Bv7z+NgYpNT2vMJwzaPD8dGNfbDr2dF4Y1JPwz5Nkmu4PZwyWrpnAVQyH55URfl4OueDI9tj/j3naR5YRvRo7n4dT7ROrY3bhrgmL+vVineK5sLtxzSuFE8oYaAAcGkv72PzhymDWwMAfrhzIGZd19tHb4YJXyJS0BWKZR/xL1uPIK+wBBe9uQzZeUVuceJGlUf0wqsmfeo8FBqE9i24b7Bz+9r+LfHUxV3c+hARxp3TxOu4tzw1EiumukdXKDSsk4hhHRoa+tO98dVt5+L8jg01bdPnbcemA6c0E5qerP67zm+Hzk3rIK1uDSTIbh1lxeeGaRdgy1MjsfThYWicXL3Y72VZrrDA6fO24z7VhPP6/Sfxw8aDzn19mtz7RrSv1rWNmDywFbJnjEX35nVRy8vvgmHCnYj+9e7Lc1niGfKKRSWWGJCSYXlIm22Y3OvGgenOyJWuTy7AvHtcObXN+nsB4K2re+GnzVKs9bX93ScIrUr6Q0T4cHIfZ4hlx2nSJOd4Vdm1t6+WJvz2Pj8GeYWlSE1KwJacfLRooF0VuUM18frKla6kYoFYcDPvnkEY+8Yy5/4PGw9h2rjOSKmdgEv/vQKA9NAhIhxXLbga36MpmureiBiGcRGRFvrg9qkAgNV7j3vtd0nPZri8t3FCLCXMTi3sdw1rq+mjFp2qMvMqKUvfdf3T/T6HvyTGOTRhhGoukCN9iAipcjGGbs2Sg1o/sbOc8EpNxvSFmpBKZeXsZ2uktkt6puH1iT0ti2xhGDsQkRb65b2b4c+duV4LKTTx4RaoXyseM6/qgQFtGyCGCPVqxsOTVjx0YdXjnSf0TMOEnoH391aXcCiPRkTY/dwYt4ijR7/b4tzuPX0hsmeMda4MfXxsp6COkWEikdD/dfuBGRtt5SOefdQKE3qmoWFSIlJqJ8ARQyAizLquN6aN66zp16Wpu0UZCTx/qXaBj34CN5SYsbS/yjyAWvIblJ0KhDCMVUSkhX6hh8ozdRJjcfvQtujZoq7h8aqcWx0q17KB59DDcGZS3xYY3rEhKoRApQgvQQck19mfO3M9Hn/o680AgDapkfn9M0ywiUgL3ZPboElyDdw+tE1AagEqqzc/vrEPWnmJJQ93GtZJRJPkGmEn5oCUy1xfzDmtbg3cf4E2kmU351ZhGFOYEnQiGkVEO4goi4imGhxPIKIv5OOriSg90AM1w46jp313MsnU0R2xfOr5GNqhoe/OjN+oizlf3a8Flk89H92b+/+GxTDRjE9BJyIHgLcBjAbQGcAkIuqs63YzgJNCiLYAXgPwQqAHqufBke7xyIF8NU+Mc4SlVWtHNj0xEhd2aYTpcooD/aIrXuzDMOYwY6H3BZAlhNgjhCgF8DmA8bo+4wHMlre/BjCcLE6IUSNecv/ffX5bfHqLlBzqv7okUUxkkFwzDrOuy3Cu5lWXfcueMdbjnAnDMFrMTIqmAVDXRMsBoFdOZx8hRDkR5QNoAEBTKYCIpgCYAgAtWvjOyOeNa/q1wNGCYtw2pA1qJcRWaeEPE97EOWL435Nh/CCok6JCiPeEEBlCiIzU1NRqnSsxzoFHx3TipdoMwzAyZgT9IAB1er1mcpthHyKKBZAMwPsyToZhGCagmBH0tQDaEVErIooHMBHAXF2fuQBukLcvB7BY+Fu4k2EYhvELn/4K2Sd+F4AFABwAPhRCbCWiZwBkCiHmAvgPgDlElAXgBCTRZxiGYYKIKQe0EGI+gPm6tidU28UArgjs0BiGYZiqEJErRRmGYRh3WNAZhmFsAgs6wzCMTWBBZxiGsQkUquhCIsoFsM9nR2NSoFuFyhjC35M5+HsyD39X5rDye2ophDBcmRkyQa8ORJQphMgI9TjCHf6ezMHfk3n4uzJHqL4ndrkwDMPYBBZ0hmEYmxCpgv5eqAcQIfD3ZA7+nszD35U5QvI9RaQPnWEYhnEnUi10hmEYRgcLOsMwjE2IOEH3VbDa7hBRcyL6nYi2EdFWIrpXbq9PRL8R0S75//XkdiKiN+TvazMR9VKd6wa5/y4iusHTNSMVInIQ0QYi+knebyUXMc+Si5rHy+0ei5wT0SNy+w4iujA0d2ItRFSXiL4mor+JaDsRncu/J3eI6D75b+4vIvqMiBLD7jclhIiY/yCl790NoDWAeACbAHQO9biC/B00AdBL3k4CsBNS8e4XAUyV26cCeEHeHgPgZwAEoD+A1XJ7fQB75P/Xk7frhfr+Avxd3Q/gUwA/yftfApgob78L4HZ5+w4A78rbEwF8IW93ln9jCQBayb89R6jvy4LvaTaA/5O34wHU5d+T23eUBmAvgBqq39LkcPtNRZqFbqZgta0RQhwWQqyXt08D2A7px6Yu1D0bwAR5ezyA/wqJVQDqElETABcC+E0IcUIIcRLAbwBGBfFWLIWImgEYC+ADeZ8AnA+piDng/h0ZFTkfD+BzIUSJEGIvgCxIv0HbQETJAAZDqmkAIUSpEOIU+PdkRCyAGnJVtpoADiPMflORJuhGBavTQjSWkCO/xvUEsBpAIyHEYfnQEQCN5G1P35ndv8uZAB4GUCnvNwBwSghRLu+r71dT5ByAUuTc7t8RIFmJuQA+kt1THxBRLfDvSYMQ4iCAlwHshyTk+QDWIcx+U5Em6IwMEdUG8A2AfwghCtTHhPRuF7XxqEQ0DsAxIcS6UI8lAogF0AvAO0KIngCKILlYnET77wkA5DmE8ZAegE0B1EIYvoFEmqCbKVhte4goDpKYfyKE+FZuPiq/+kL+/zG53dN3ZufvciCAi4koG5Jb7nwAr0NyDyhVutT366nIuZ2/I4UcADlCiNXy/teQBJ5/T1pGANgrhMgVQpQB+BbS7yysflORJuhmClbbGtkP9x8A24UQr6oOqQt13wDgB1X79XJ0Qn8A+fKr9AIAI4monmx9jJTbIh4hxCNCiGZCiHRIv5HFQohrAPwOqYg54P4dGRU5nwtgohyx0ApAOwBrgnQbQUEIcQTAASLqIDcNB7AN/HvSsx9AfyKqKf8NKt9TeP2mQj177Mds8xhIkR27ATwW6vGE4P4HQXr93Qxgo/zfGEj+uUUAdgFYCKC+3J8AvC1/X1sAZKjOdROkSZksADeG+t4s+r6GwhXl0lr+48kC8BWABLk9Ud7Pko+3Vn3+Mfm72wFgdKjvx6LvqAeATPk39T2kKBX+Pbl/T08D+BvAXwDmQIpUCavfFC/9ZxiGsQmR5nJhGIZhPMCCzjAMYxNY0BmGYWwCCzrDMIxNYEFnGIaxCSzoDMMwNoEFnWEYxib8PxEbJnU7HaWCAAAAAElFTkSuQmCC\n"
          },
          "metadata": {
            "needs_background": "light"
          }
        }
      ],
      "source": [
        "plt.title('Crude oil price')\n",
        "plt.plot(data_oil)"
      ]
    },
    {
      "cell_type": "markdown",
      "id": "c7caca92",
      "metadata": {
        "id": "c7caca92"
      },
      "source": [
        "## Splitting data into Train and Test Data"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 15,
      "id": "7c92dd1a",
      "metadata": {
        "id": "7c92dd1a"
      },
      "outputs": [],
      "source": [
        "training_size=int(len(data_oil)*0.65)\n",
        "test_size=len(data_oil)-training_size\n",
        "train_data,test_data=data_oil[0:training_size,:],data_oil[training_size:len(data_oil),:1]"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 16,
      "id": "0c90ae84",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "0c90ae84",
        "outputId": "36063e6c-012d-4f58-99af-1c13a21498de"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(5340, 2876)"
            ]
          },
          "metadata": {},
          "execution_count": 16
        }
      ],
      "source": [
        "training_size,test_size"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 17,
      "id": "97298e0b",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "97298e0b",
        "outputId": "160265a0-c224-40a9-ffed-ba6261e9d633"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(5340, 1)"
            ]
          },
          "metadata": {},
          "execution_count": 17
        }
      ],
      "source": [
        "train_data.shape"
      ]
    },
    {
      "cell_type": "markdown",
      "id": "d7aa1bff",
      "metadata": {
        "id": "d7aa1bff"
      },
      "source": [
        "## Creating a dataset with sliding windows"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 18,
      "id": "10dd625c",
      "metadata": {
        "id": "10dd625c"
      },
      "outputs": [],
      "source": [
        "def create_dataset (dataset, time_step=1):\n",
        "    dataX, dataY = [], []\n",
        "\n",
        "    for i in range(len(dataset)-time_step-1):\n",
        "\n",
        "        a = dataset[i:(i+time_step), 0] \n",
        "        dataX.append(a)\n",
        "        dataY.append(dataset[i + time_step, 0])\n",
        "\n",
        "    return np.array(dataX),np.array(dataY)"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 19,
      "id": "e4e4df14",
      "metadata": {
        "id": "e4e4df14"
      },
      "outputs": [],
      "source": [
        "time_step = 10\n",
        "\n",
        "X_train, y_train=create_dataset(train_data,time_step)\n",
        "\n",
        "X_test, y_test = create_dataset(test_data,time_step)"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 20,
      "id": "048c7da5",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "048c7da5",
        "outputId": "8f4e900f-01d4-4c56-fd44-cf6e79689676"
      },
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "(5329, 10)\n",
            "(5329,)\n"
          ]
        },
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(None, None)"
            ]
          },
          "metadata": {},
          "execution_count": 20
        }
      ],
      "source": [
        "print(X_train.shape),print(y_train.shape)"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 21,
      "id": "b6f1e6c9",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "b6f1e6c9",
        "outputId": "1789e144-1e8a-4931-84b6-0c514808166f"
      },
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "(2865, 10)\n",
            "(2865,)\n"
          ]
        },
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(None, None)"
            ]
          },
          "metadata": {},
          "execution_count": 21
        }
      ],
      "source": [
        "print(X_test.shape),print(y_test.shape)"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 22,
      "id": "2ccfb1d3",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "2ccfb1d3",
        "outputId": "eb50c2e1-c740-4be5-9c54-7e7dce9064b2"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "array([[0.11335703, 0.11661484, 0.12053902, ..., 0.10980305, 0.1089886 ,\n",
              "        0.11054346],\n",
              "       [0.11661484, 0.12053902, 0.11550422, ..., 0.1089886 , 0.11054346,\n",
              "        0.10165852],\n",
              "       [0.12053902, 0.11550422, 0.1156523 , ..., 0.11054346, 0.10165852,\n",
              "        0.09906708],\n",
              "       ...,\n",
              "       [0.36731823, 0.35176958, 0.36080261, ..., 0.36391234, 0.37042796,\n",
              "        0.37042796],\n",
              "       [0.35176958, 0.36080261, 0.35354657, ..., 0.37042796, 0.37042796,\n",
              "        0.37879461],\n",
              "       [0.36080261, 0.35354657, 0.35295424, ..., 0.37042796, 0.37879461,\n",
              "        0.37916482]])"
            ]
          },
          "metadata": {},
          "execution_count": 22
        }
      ],
      "source": [
        "X_train"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 23,
      "id": "b993d253",
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "b993d253",
        "outputId": "954440a4-f9b9-4eb5-acfa-9cb32c710e87"
      },
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(5329, 10)"
            ]
          },
          "metadata": {},
          "execution_count": 23
        }
      ],
      "source": [
        "X_train.shape"
      ]
    },
    {
      "cell_type": "code",
      "execution_count": 24,
      "id": "5526c682",
      "metadata": {
        "scrolled": true,
        "id": "5526c682"
      },
      "outputs": [],
      "source": [
        "X_train=X_train.reshape(X_train.shape[0],X_train.shape[1],1)\n",
        "X_test=X_test.reshape(X_test.shape[0],X_test.shape[1],1)"
      ]
    }
  ],
  "metadata": {
    "kernelspec": {
      "display_name": "Python 3 (ipykernel)",
      "language": "python",
      "name": "python3"
    },
    "language_info": {
      "codemirror_mode": {
        "name": "ipython",
        "version": 3
      },
      "file_extension": ".py",
      "mimetype": "text/x-python",
      "name": "python",
      "nbconvert_exporter": "python",
      "pygments_lexer": "ipython3",
      "version": "3.9.12"
    },
    "colab": {
      "provenance": [],
      "toc_visible": true
    }
  },
  "nbformat": 4,
  "nbformat_minor": 5
}